<div class="footerMenuWrpr">
    <ul>
        <li class="activeNav">
            <div>
                <div class="bottomNavTab"><img src="https://images.bewakoof.com/web/ic-web-home-tab-selected-v1.svg"
                        alt="Home"><span class="active">Home</span></div>
            </div>
        </li>
        <li class="inactiveNavItem">
            <div>
                <div class="bottomNavTab"><img src="https://images.bewakoof.com/web/ic-web-tab-category-default-v1.svg"
                        alt="Categories"><span class="">Categories</span></div>
            </div>
        </li>
        <li class="inactiveNavItem">
            <div>
                <div class="bottomNavTab"><img src="https://images.bewakoof.com/web/ic-web-tab-explore-default-v1.svg"
                        alt="Explore"><span class="">Explore</span></div>
            </div>
        </li>
        <li class="inactiveNavItem">
            <div>
                <div class="bottomNavTab"><img src="https://images.bewakoof.com/web/ic-web-tab-profile-default-v1.svg"
                        alt="Profile"><span class="">Profile</span></div>
            </div>
        </li>
    </ul>
</div>