<div >


  <h2>Welcome to ChooseurLook </h2>


  <mat-chip-list aria-label="Dog selection">
    
      <a routerLink="/home1" routerLinkActive="active" ariaCurrentWhenActive="page">
        <mat-chip color="primary">
          Home
        </mat-chip>
        </a>
        <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
          <mat-chip color="primary">
            Login
          </mat-chip>
          </a>
          <a routerLink="/products" routerLinkActive="active" ariaCurrentWhenActive="page">
            <mat-chip color="primary">
              Products
            </mat-chip>
            </a>

            <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">
              <mat-chip color="primary">
                contact
              </mat-chip>
              </a>

            
  </mat-chip-list>



  <router-outlet></router-outlet>



  <div>
    <h4>Online Status : 
       <mat-icon  *ngIf="isOnline" aria-hidden="false" aria-label="Example home icon" fontIcon="signal_wifi_4_bar"></mat-icon>
       <mat-icon *ngIf="!isOnline" aria-hidden="false" aria-label="Example home icon" fontIcon="signal_wifi_off"></mat-icon>
     </h4>
    
  </div>

  <div *ngIf="modalVersion">
    <div>
      <mat-card style="background-color:forestgreen">
        <button mat-button (click)="closeVersion()">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="close"></mat-icon>
        </button>

        A new version of this app is available. 

        <button mat-button (click)="updateVersion()">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="update"></mat-icon>
        </button>
      </mat-card>

    </div>
  </div>

  <div *ngIf="modalPwaPlatform === 'ANDROID' || modalPwaPlatform === 'IOS'">
    <div>

      <!-- Android -->
      <div *ngIf="modalPwaPlatform === 'ANDROID'" (click)="addToHomeScreen()">
        <mat-card style="background-color:red">
          <button mat-button (click)="closePwa()">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="close"></mat-icon>
          </button>

          Add to home screen

          <button mat-button>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add_box"></mat-icon>
          </button>
        </mat-card>
      </div>

      <!-- iOS with Safari -->
      <div *ngIf="modalPwaPlatform === 'IOS'" (click)="addToHomeScreen()">
        <mat-card style="background-color:red">
          <button mat-button (click)="closePwa()">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="close"></mat-icon>
          </button>

          Add to home screen

          <button mat-button>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add_box"></mat-icon>
          </button>
        </mat-card>
      </div>

    </div>
  </div>


</div>