<div class="noMg headerDivWrapper mHeader"><label for="hambu" class="mLogoDiv"><img
            src="https://images.bewakoof.com/web/ic-web-head-hamburger.svg" class="mMenuBtn"></label>
    <!--<input  type="checkbox" id="hambu"> -->
    <div class="mActionMenu" style="display: block;"><span class="mChooseurlookLogoDiv">
            <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page"
                title="Online Lifestyle Brand - ChooseurLook.com"><img
                    src="https://images.bewakoof.com/web/ic-web-head-bwk-primary-logo-eyes.svg" alt="bewakoof_logo"
                    style="height: 18px; margin: 16px 0px; width: 40px;"></a>


        </span></div>

    <div class="iconMenuOption ">
        <span class="" style="width: auto;">
            <form class="msearchContainer" style="display: inline-block;"><label><img
                        src="https://images.bewakoof.com/web/ic-web-head-search.svg"
                        class="header-icon ml-1 ico-search " alt="search-icon"></label></form>
        </span>
        <span>
            <div class=""><img src="assets/svg/c-ic-web-head-cart.svg" class="header-icon"
                    alt="wish-list"></div>
        </span>
       
        <a hreflang="en-us" href="/cart">
            <span>
                <img src="assets/svg/ic-web-head-wishlist.svg" class="header-icon" alt="shopping-bag">
            </span>
        </a>
        <a hreflang="en-us" href="/">
            <span>
                <img src="assets/svg/notifications.svg" class="header-icon" alt="shopping-bag">
            </span>
        </a>
        </div>
</div>